@charset "utf-8";
/* common.css - 공통 레이아웃 디자인 (구체적인셋업은 커먼에)*/

/* 상단영역 */
.top [class*=col-]{
	height: 94px;
}

/* 컨텐츠영역 */


/* 하단영역 */




h2{
	font-size: 35px;
	color: #222;
	font-weight: bold;
}
p{
	font-size: 20px;
	color: #222;
	font-weight: 600;
}