@charset "utf-8";
/* core.css - 중요공통기능 */

/* 웹 폰트 */
@font-face {
	font-family: Nanum;
	src: url(../fonts/NanumGothic.woff) format("woff"),  /*format*/
		url(../fonts/NanumGothic.ttf) format("truetype")
}
/*

[ 웹 폰트 지정 형식 ]
@font-face {
	font-family: 내가지은이름;
	src: url(경로.woff) format("파일형식"),  
		url(경로.ttf) format("파일형식")
}

	- woff는 데스크탑 브라우저용 웹폰트 확장자
	- ttf는 모바일 브라우저용 웹폰트 확장자
	- fotmat(형식명)은 명시적으로 확장자를 지정하여 웹폰트 로딩을 빠르게함

*/

/* 공통 */
body{
	/*font-family: dotum, "돋움", sans-serif;*/
	color: #808080;
	/*line-height: 136%;*/
	font-size: 12px;
}

/* 공통class */


/* 중앙정렬 속박스*/
.inbox{
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;
	outline: 1px dashed red;
}

/* IR (image replacement) class */
.ir{
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}/*그 리딩기계 시키려고하는거*/

/* 비율유지 class */
.rbx{
	position: relative;
}

.rbx::before{
	content: "";
	display: block;
	padding-top: 70%;
	/* 비율에 따라 변경 */
}

.ibx{/* 비율유지 속박스 */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}






